canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
    
    display: block;
    margin: auto;
    border-style: solid;
    background-color: #353535;
}

#banner {
	display: block;
	width: 85%;
	height: 100%;
	max-width: 600px;
	max-height: 152px;
}

#gameDescription{
	width: 100%;
	height: 100%;
	max-width: 650px;
	margin: auto;
	margin-top: 10px;
}

#descBorder{
	border: solid 15px;
    border-image: url("../resource/borderImg.png") 11 11 round round;
    background-color: #fff0f0;
    width: 85%;
	height: 85%;
	min-height: 27px;
	margin: auto;
}

#descText{
	font-size: 90%;
	color: #4C4C4C;
}

#copyright{
	display: block;
	text-align: center;
	font-size: 70%;
}

#frame{
	margin-left: -10px;
	margin-right: -10px;
}

body {
	
}

div {
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
 }
  .post-tag-custom {
  font-size: 12px;
  color: #828282; }