---
layout: default
---

{% for data_tag in site.data.tags %}
  {% if data_tag.slug == page.slug %}
    {% capture tag_name %}
      {{data_tag.name}}
    {% endcapture %}
  {% endif %}
{% endfor %}


<h2>#{{tag_name}}</h2>
<div>
  {% if site.tags[page.slug] %}
    <ul class="tags">
    {% for post in site.tags[page.slug] %}
      

      <li class="tag">
        <span class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ post.date | date: date_format }}
          </time>
        </span>
        &nbsp;
        <a class="tag-link" href="{{post.url}}">{{post.title}}</a>
        </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>해당 태그의 글이 없습니다.</p>
  {% endif %}
</div>