---
layout: default
---

{% for data_tag in site.data.tags %}
  {% if data_tag.slug == page.slug %}
    {% capture tag_name %}
      {{data_tag.name}}
    {% endcapture %}
  {% endif %}
{% endfor %}


 <h1 class="post-title">#{{tag_name}}</h1>
<div>
  {% if site.tags[page.slug] %}
    <ul class="post-list">
    {% for post in site.tags[page.slug] %}
      {% assign curDate = post.date | date: "%-m, %Y" %}
      {% if prevDate != curDate %}
        <br/>
        <h3 class="post-date">{{ curDate }}</h3>
        {% assign prevDate = curDate %}
      {% endif %}

      <li class="tag">
        <span class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%-m월 %-d일" %}
            {{ post.date | date: date_format }}
          </time>
        </span>
        &nbsp;
        <a class="tag-link" href="{{post.url}}">{{post.title}}</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>해당 태그의 글이 없습니다.</p>
  {% endif %}
</div>

<div class="post-content">
  {{ content }}
</div>